* {
  box-sizing: border-box;
}

h2, h3, h4, p, ul {
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

.title {
  font-size: 2.5em;
  padding: 3% 0 2.5% 0;
  text-align: center;
}

body {
  font-size: 12px;
  font-weight: 200;
  font-family: 'Didact Gothic', sans-serif;
  text-decoration: none;
  margin: 0;
}

header {
   background: url(images/header-bg.jpg) no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   color: #FFF;
}

#container {
  overflow: hidden;
  padding-top: 10%;
}

#logo {
  float: left;
}

#logo h1 a {
  font-size: 1em;
  left: 10%;
  position: relative;
}

#menu {
  position: absolute;
  right: 10px;
}

#menu li {
  float: left;
  letter-spacing: 2px;
}

#menu li a {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  display: inline-block;
  /* float: left; */
  font-size: 1.20em;
  list-style: none;
  margin: 0 5px;
  position: relative;
  padding: 10px;
  right: 5%;
  text-decoration: none;
  text-transform: uppercase;
  top: 5%;
}

#menu .active {
  border: 2px solid #ee0000;
  border-radius: 6px;
}

#menu li a:hover {
  border: 2px solid #ee0000;
  border-radius: 6px;
  transition: .3s;
}

#banner {
  padding: 10% 0 30% 0;
  text-align: center;
  /* border: 10px black solid; */
}

.line {
  margin: 0;
}

#tagline {
  font-size: 4.5em;
  color: #dadada
}

#identity {
  font-size: 3em;
  color: #6e6e6e;
}

#aboutMe {
  background: #e3e3e0;
  overflow: hidden;
  padding: 0 0 5% 0;
}

#aboutMe img {
  float: left;
  text-align: center;
  width: 30%;
  border-radius: 500px;
  border: 2px black solid;
  margin-left: 5%;
}

.description {
  font-size: 1.5em;
  padding: 5% 2.5% 10% 38%;
  position: relative;
}

/* Tools Section */

#build {
  overflow: hidden;
  padding: 0 0 5% 0;
  text-align: center;
}

#build img {
  width: 10%;
  height: auto;
}

/* Projects section */
#projects {
  background: #f4e3b1;
}

#projects a {
  font-size: 1.5em;
  font-weight: 200;
  color: #000;
}

#scoopfare h3 {
  margin: 5em 1em 1em 1em;
}

#projects p {
  margin: 0 1em;
}

#projects img {
  width: 100%;
}


.project {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Footer contents */
footer {
  background: #0b0b0b;
  padding: 2% 0;
}

#footer-content {
  color: #FFF;
  padding: 10% 0 0 0 2%;
  text-align: center;
}

#footer-content img {
  width: 25px;
  height: 25x;
  margin: 5px;
}

#maker {
  color: #FFF;
  padding: 1% 0 0 0;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 1em;
  }

  #menu {
    display: none;
  }

  #banner {

  }

  #tagline {
    font-size: 3em;
  }

  #identity {
    font-size: 1em;
  }
}
